.main{
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    /* height:1000px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.search_box_sub_clearfix{
    width: 100%;
    background: #f4ece3; padding-bottom: 20px;
    margin-right: 30px;
}

.serch{
    width: 100%;
	height: 40px;
	font-size: 18px;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    outline: none;
    margin-left: 20px;
}
.checkin{
    width: 40%;
	height: 40px;
	font-size: 18px;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    outline: none;
    margin-left: 20px;
}
.checkout{
    width: 40%;
	height: 40px;
	font-size: 18px;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    outline: none;
    margin-left: 20px;
}
.et_filter_text{
    margin-right: 30px;
}

.clearfix{
    list-style: none;
    display: flex;
    margin-top: 20px;
    
}

.search_box_sub_clearfix{
    display: flex;
    justify-content: center;
    
}
.select_box_sub_clearfix{
    display: flex;
    justify-content: center;
    width: 100%;
}
.one-half:first-child {
     margin-left: 0; 
}

.et_filte{
    float: right;
    /* width: 100%; */
}
.search_box_sub_right{
    width: 800px;
}
.content_buttonSearch{
    appearance: none;
    background-color: #f0e6aa;
    border: 1px solid wheat;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 26px;
    text-align: center;

}
.text{
    margin-left: 25px;
}

.listing_checkout input { 
    box-sizing: border-box; 
 }

.one_half{
    border: 1px solid gainsboro;
    background-color: white;
    height: 60px;
    width: 27%;

}
 .one_half_last{
    border: 1px solid gainsboro;
    background-color: white;
    width: 30%;
 }
 .select_drop_left{
    margin-left: 10px;
 }
 .select_drop_right{
    margin-left: 10px;
 }
.select_area_left{
    margin-right: 20px;
    width: 75%;
	height: 40px;
	font-size: 18px;
    border: none;
    outline: none;
    margin-left: 20px;
}
.select_area_right{
    margin-right: 20px;
    width: 80%;
	height: 40px;
	font-size: 18px;
    border: none;
    outline: none;
    margin-left: 20px;
}