.h2 {
    color: rgb(0, 80, 0);
}

.reservationinformation {
    margin-left: 100px;
    margin-top: 50px;
}

.table {
    border-collapse: collapse;
    width: 40%;
    background-color: white;
}

.th, .td {
    padding: 10px;
    text-align: center;
}

