.h2 {
    color: rgb(0, 80, 0);
}

.reservationinformation {
    margin-left: 100px;
    margin-top: 50px;
}

.table {
    border-collapse: collapse;
    width: 40%;
    background-color: white;
}

.th, .td {
    padding: 10px;
    text-align: center;
}

.button {
    margin-top: 50px;;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px 26px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.text {
    font-size: 18px;
}
