.footer {
    position:fixed; 
    left:0px; 
    bottom:0px; 
    height:100px; 
    width:100%; 
    background: rgba(255, 255, 255, 0.711); 
    color: black;
    display: flex;
    justify-content: center;
}

.logofooter {
    width: 100px;
}

.footerleft {
    margin-top: 30px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: bold;
}

.footerleft2 {
    font-size: 16px;
    font-weight: normal;
}

.footerright {
    font-size: 17px;
    margin-top: 30px;
    margin-left: 100px;
}

.footerlogos {
    display: flex;
    margin-top: 35px;
    margin-left: 80px;
}
.flogo1 {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.flogo2 {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.flogo3 {

    width: 30px;
    height: 30px;
}